{% extends "base.html.twig" %}

{% block title %}Profilo{% endblock %}

{% block content %}
  <div class="container-xxl py-4">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h1 class="h3 mb-3">Profilo</h1>

        <div class="card shadow-sm">
          <div class="card-body">
            <dl class="row mb-0">
              <dt class="col-sm-4">Nome</dt>
              <dd class="col-sm-8">{{ profile.first_name|default('') }}</dd>

              <dt class="col-sm-4">Cognome</dt>
              <dd class="col-sm-8">{{ profile.last_name|default('') }}</dd>

              <dt class="col-sm-4">Email</dt>
              <dd class="col-sm-8">{{ profile.email|default('') }}</dd>

              <dt class="col-sm-4">Codice fiscale</dt>
              <dd class="col-sm-8">{{ profile.fiscal_number|default('') }}</dd>

              <dt class="col-sm-4">IdP</dt>
              <dd class="col-sm-8">{{ profile.provider_name|default(profile.provider_id|default('')) }}</dd>
            </dl>
          </div>
        </div>

        <div class="mt-3">
          <a class="btn btn-outline-primary" href="/">Torna alla home</a>
          <a class="btn btn-outline-danger" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
